.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }
  .navbar, .nav-homepage {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: transparent;
    margin: auto;
  }

  
  .brand-logo {
    margin-left: 15px;
  }
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  
  body > nav {
    grid-area: nav;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    text-align: right;
    color: white;

  }
  
  nav > img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
   
  }
  
  body {
    grid-area: main;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: left;
    background-color: white;
    padding: 20px;
    background-image: url("../images/Screen\ Shot\ 2022-12-13\ at\ 10.52.37\ AM.png");
    background-position-y: 10%;
    background-size: cover;
    margin: 0;
    height: -10vh;
    width: 100%;
  }

  
  nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav > a:hover {
    color: black;
    background-color: white;
  }
  
  nav > a.active {
    color: white;
  }
  
  
  table {
    font-size: 20px;
  }
  
  table thead th {
    padding: 5px;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    color: white;
    text-align: center;
  }
  
  table td {
    padding: 8px;
    text-align: center;
    color:white;
  }
  
  #list a {
    color: white;
  }

  #list a:hover {
    color:rgb(43, 169, 220);
  }


  #show-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    border-bottom: 4px solid rgb(43, 169, 220);
    border-top: 4px solid rgb(43, 169, 220);
    font-weight: bold;
    color:white;
 
  }
  
h1, body {
    text-align: center;
}

.main-title {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%
}
.login-page {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/iStock-1165781004.jpg");
  background-position-y: 50%;
}
a {
  text-decoration: none;
}
.lets-fly {
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
}

.login {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.logout {
    display: flex;
    justify-content: right;
    align-items: right;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.all-nationals {
    font-weight: bolder;
    display: flex;
    justify-content: right;
    align-items: right;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#add-flights{
    color: white;
}

